# .env.local.template
# COPIEZ CE FICHIER VERS .env.local ET NE LE COMMITEZ JAMAIS.
# Ce fichier contient vos secrets sensibles pour l'environnement local.

APP_SECRET=GénérerUnSecretFortIci (ex: php bin/console secrets:generate-keys)

# Connexion Base de Données (Locale)
DATABASE_URL="postgresql://app:root@127.0.0.1:5432/lsj_db?serverVersion=16&charset=utf8"
