# Paramètres de la base de données
MYSQL_DATABASE=lsj_db
MYSQL_ROOT_PASSWORD=
MYSQL_USER=app
MYSQL_PASSWORD=
DATABASE_URL="mysql://app:YOUR_PASSWORD@db:3306/lsj_db?serverVersion=8.0&charset=utf8mb4"

# Paramètres d'administration de Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=

# Webhook Discord pour Alertmanager (optionnel si géré par fichier local)
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN
