# Paramètres de la base de données
MYSQL_DATABASE=lsj_db
MYSQL_ROOT_PASSWORD=
MYSQL_USER=app
MYSQL_PASSWORD=

# Paramètres d'administration de Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=
